@import '../../assets/helpers/index.scss';

.layout {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  background-color: $backgroundColor;

  &__main {
    padding: 40px 80px;
  }
}
