@import '../../assets/helpers/index.scss';

.layout {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: $backgroundColor;

  &__sideMenu {
    position: absolute;
  }

  &__main {
    padding: 40px 80px 40px 180px;
  }
}
