@import '../../../assets/helpers/index.scss';

.bar {
  display: flex;
  align-items: center;

  &__item {
    padding: 0px 15px;
    display: flex;
    align-items: center;
    height: 30px;
    background-color: #fff;
    border: 1px solid $disableColor;
    border-left: none;
    font-size: 16px;
    font-weight: bold;
    color: $secondaryColor;
    cursor: pointer;

    &:first-child {
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      border: 1px solid $disableColor;
    }

    &:last-child {
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
    }

    &_active {
      background-color: $mainColor;
      color: #fff;
    }
  }
}
